

.container, .row, div {
  padding: 0%;
  margin: 0%;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

:root{
  --primary-color: rgba(8, 46, 5);
  --bg-color: rgb(44, 44, 44);
  --txt-color: #33d70e;
  --btn-color: white;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

@media screen and (max-width: 499px) {

  .App-logo {
    height: 5vh;
  }

  .App-header {
    text-wrap: wrap;
    grid-template-columns: 1fr;
    padding-bottom: 10vh;
  }

  .App-btn {
    height: 5vh;
    width: 40vw;
    border-radius: none;
    border: none;
    font-size: 1vh;
  }

  h1 {
    font-size: 3vh;
  }
  h2 {
    font-size: 3vh;
  }
  h3 {
    font-size: 2.3vh;
  }
  h4 {
    font-size: 2vh;
  }
  .li {
    padding: 1px;
    font-size: 3px;
  }

  .links-list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .pricing-card {
    width: 65vw;
    height: 35vh;
    font-size: smaller;
  }

  .pricing-grid {
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    flex-direction: column;
    flex-wrap: wrap;
  }

  input,
  textarea {
    width: 70vw;
  }

  .user-box {
    width: 100vw;
  }
}

/* Tablets */
@media screen and (max-width: 899px) and (min-width: 500px) {
  li {
    padding: 1vh;
  }

  .links-list {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  input,
  textarea {
    width: 70vw;
  }

  .user-box {
    width: 100vw;
  }
}

/* Laptop */
@media screen and (min-width: 900px) and (max-width: 1319px) {

  .links-list {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .App-header {
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    text-wrap: nowrap;
  }

  .pricing-card {
    width: 35vw;
    height: 35vh;
  }

  .pricing-grid {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }

  li {
    padding: 1vh;
  }

  .user-box {
    width: 50vw;
  }

  input,
  textarea {
    width: 30vw;
  }
}

/* Desktop */
@media screen and (min-width: 1319px) {

  .links-list {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .App-header .col-md-4 {
    text-wrap: nowrap;
  }
  .App-header{
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-card {
    width: 25vw;
  }

  .pricing-grid {
    display: flex;
    justify-content: space-around;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  input,
  textarea {
    width: 30vw;
  }

  .user-box {
    width: 100vw;
  }
}

.col-md-4 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.user-box {
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  display: flex;

}

.pricing-grid {
  display: flex;
  justify-content: space-around;
  padding-right: 1em;
  padding-bottom: 1em;
}

.pricing-card  {
  border: 3px solid var(--txt-color);
  padding: 1em;
  margin: 1em;
  background-color: var(--bg-color);
  color: var(--txt-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
  min-height: fit-content;
  max-height: 40vh;
}

.pricing-card h4{
  text-align: center;
  color: var(--txt-color);
  text-shadow: none;
}

.info-card {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  background-color: #efe3e3fa;
  color: #666;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.1s ease-in-out;
}

.info-card:hover {
  transform: scale(1.05);
}

.info-card h3 {
  text-align: center;
  color: #000;
}

.pricing-card h3 {
  text-align: center;
  color: #000;
}

.pricing-card p,
li,
h4 {
  text-align: center;
  color: #666;
}


.App-header {
  display: grid;
  background-image: url("../public/images/aiPower.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  padding: 1em;
  text-align: center;
  z-index: 100;

}

form {
  background-color: rgba(36, 37, 37, 0.6);
  padding: 1em;
}

.App-footer {
  background-color: rgb(36, 37, 37);
  width: 100vw;
  padding: 1em;
  text-align: center;
  z-index: 100;
}


.App-logo {
  height: 15vh;
  pointer-events: none;
  border: #000 solid 0.5vh;
  border-radius: 3%;
}

.App-btn {
  padding: 0.8vh;
  border: var(--btn-color) solid 3px;
  border-radius: 0%;
  text-decoration: none;
  font-size: 2vh;
  transition: ease .5s;
  color: var(--txt-color);
  text-decoration: none;
  text-transform: none;
  background-color: var(--bg-color);

}

.App-btn:hover {
  background-color: var(--txt-color);
  border-color: var(--bg-color);
  border-radius: 15%;
  transition: ease .5s;
  text-decoration: none;
  text-transform: none;
  transform: scale(1.1);
  color: var(--bg-color);
}

.links-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.links {
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  font-size: 2vh;
  transition: ease .5s;
}

a {
  text-decoration: none;
  color: #fff;

}

.pricing-card:hover {
  transform: scale(1.05);

}

