form {
    margin: auto;
    align-self: center;
    width: 50vw;
  }
  @media screen and (max-width: 768px) {
    form {
      width: 100vw;
    }
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-size: 3vh;
  }

  input,
  textarea {
    font-size: large;
    text-shadow: none;
    color: black;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

