:root {

  --primary-color: rgba(8, 46, 5);
  --bg-color: rgb(44, 44, 44);
  --txt-color: #33d70e;
  --str-colour: rgb(150, 11, 11);
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to left, var(--primary-color), var(--bg-color));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


* {
  font-family: "Konit", sans-serif;
  text-align: center;
  position: relative;
  font-weight: 600;
  color: var(--primary-color);
  text-shadow:
    1px 1px 0 var(--txt-color),
    -1px -1px 0 var(--txt-color),
    1px -1px 0 var(--txt-color),
    -1px 1px 0 var(--txt-color);
}

.txt-highlight {
  color: var(--txt-color);
}

h1 {
  font-size: 3vh;
}

/* SmartPhone */
@media screen and (max-width: 499px) {}

/* Tablets */
@media screen and (max-width: 899px) and (min-width: 500px) {}

/* Laptop */
@media screen and (min-width: 900px) and (max-width: 1319px) {}

/* Desktop */
@media screen and (min-width: 1319px) {}

.row {
  width: 100vw;
  padding-top: 10vh;
}



p {
  font-size: 2vh;
}

.phone-number {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Use the parent element's text color */
}

a {
  text-decoration: none;
}